chains/
share/
include/
.local/
*.out
core.*
*.a
*.o
*.pyc
*.egg-info/
*.out


cobaya/cobaya/likelihoods/.gitignore
external_modules/code/.gitignore
external_modules/data/.gitignore
projects/.gitignore

external_modules/data/bao_data/
external_modules/data/bicep_keck_2015/
external_modules/data/des_data/
external_modules/data/sn_data/

set_installation_options
compile_external_modules
setup_cocoa_installation_packages
start_cocoa
stop_cocoa

project/

#extra protection for DES-Y3 DATA
projects/desxplanck
projects/lsst_fourier
projects/des_y3
projects/cocoa_desxplanck
projects/cocoa_lsst_fourier
projects/cocoa_des_y3
projects/cocoa_*
projects/*/

external_modules/data/XXX
external_modules/data/des_y1
external_modules/data/desy1xplanck
external_modules/data/desxplanck
external_modules/data/lsst_fourier
external_modules/data/lsst_y1
external_modules/data/des_y3
external_modules/data/des_4x2ptN
external_modules/data/kids

external_modules/code/XXX
external_modules/code/des_y1
external_modules/code/desy1xplanck
external_modules/code/desxplanck
external_modules/code/lsst_fourier
external_modules/code/lsst_y1
external_modules/code/des_y3
external_modules/code/des_4x2ptN
external_modules/code/kids

cobaya/cobaya/likelihoods/XXX
cobaya/cobaya/likelihoods/des_y1
cobaya/cobaya/likelihoods/desy1xplanck
cobaya/cobaya/likelihoods/desxplanck
cobaya/cobaya/likelihoods/lsst_fourier
cobaya/cobaya/likelihoods/lsst_y1
cobaya/cobaya/likelihoods/des_y3
cobaya/cobaya/likelihoods/des_4x2ptN
cobaya/cobaya/likelihoods/kids


cobaya/cobaya/likelihoods/bp_desy1xplanck
cobaya/cobaya/likelihoods/desy1xplanckv2
cobaya/cobaya/likelihoods/new_desy1xplanck
external_modules/code/bp_desy1xplanck
external_modules/code/desy1xplanckv2
external_modules/code/new_desy1xplanck
external_modules/data/bp_desy1xplanck
external_modules/data/desy1xplanckv2
external_modules/data/new_desy1xplanck