.DS_Store
Cocoa/logs
Cocoa/cobaya
cobaya2/
cobaya3/
cobaya4/
.ipynb_checkpoints/
./cobaya
cobaya/
chains/
share/
include/
.local/
*.out
core.*
*.a
*.o
*.pyc
*.egg-info/
*.out
*.egg
*.vfproj
*.sln
*.tar.gz
*.tgz
*.tar

cobaya/cobaya/likelihoods/.gitignore
external_modules/code/.gitignore
external_modules/data/.gitignore
projects/.gitignore
projects/.DS_Store
projects/example/.DS_Store

external_modules/data/.DS_Store
external_modules/code/.DS_Store
external_modules/data/ax*
external_modules/data/axions/
external_modules/data/bao_data/
external_modules/data/bicep_keck_2015/
external_modules/data/des_data/
external_modules/data/sn_data/
external_modules/data/simons_observatory/
external_modules/data/h0licow_distance_chains/
external_modules/data/spt_hiell_2020
external_modules/data/spt_3g
external_modules/data/act
external_modules/data/emultrf
external_modules/data/emul*
external_modules/data/cosmopower/
external_modules/data/cosmo*


projects/desxplanck
projects/lsst_fourier
projects/des_y3
projects/cocoa_desxplanck
projects/cocoa_lsst_fourier
projects/cocoa_des_y3
projects/cocoa_lsst_y1
projects/cocoa_*
projects/edemay2022
projects/ede*
projects/axions*
projects/axi*

external_modules/data/XXX
external_modules/data/des_y1
external_modules/data/des_*
external_modules/data/desy1xplanck
external_modules/data/desxplanck
external_modules/data/lsst_fourier
external_modules/data/lsst_y1
external_modules/data/lsst_*
external_modules/data/des_y3
external_modules/data/des_4x2ptN
external_modules/data/kids
external_modules/data/kids*
external_modules/data/cocoa_*
external_modules/data/ede*
external_modules/data/roman_real
external_modules/data/roman_real*
external_modules/data/roman_fourier
external_modules/data/roman_fourier*
external_modules/data/roman*
external_modules/data/ROMAN*
external_modules/data/act_dr6_cmbonly
external_modules/data/act_dr*
external_modules/data/act_dr6_mflike
external_modules/data/mflike*/
external_modules/data/mf*/

external_modules/code/cfastpt
external_modules/code/cfftlog
external_modules/code/cosmolike*
external_modules/code/log.c
external_modules/code/planck/code/spt_clik/.lock-waf_*
external_modules/code/planck/code/spt_clik/.waf*
external_modules/code/planck/code/spt_clik/build/
external_modules/code/planck/code/spt_clik/svnversion
external_modules/code/PolyChordLite/dist/
external_modules/code/XXX
external_modules/code/des_y1
external_modules/code/des_*
external_modules/code/desy1xplanck
external_modules/code/desxplanck
external_modules/code/lsst_fourier
external_modules/code/lsst_y1
external_modules/code/lsst_*
external_modules/code/des_y3
external_modules/code/des_4x2ptN
external_modules/code/kids
external_modules/code/kids*
external_modules/code/cocoa_*
external_modules/code/ede*
external_modules/code/PolyChordLite/build/lib.linux-x86_64-cpython-37/
external_modules/code/PolyChordLite/dist/
external_modules/code/planck/code/spt_clik/svnversion
external_modules/code/class_public/build/
external_modules/code/pyactlike/build/
external_modules/code/PolyChordLite/build/
external_modules/code/CAMB2/
external_modules/code/CAMB/
external_modules/code/CAMB*/
external_modules/code/class_public/
external_modules/code/class_public2/
external_modules/code/class_public*/
external_modules/code/pyact*
external_modules/code/class_public/python/classy.egg-info
external_modules/code/velocileptors/
external_modules/code/velocileptors*/
external_modules/code/velo*/
external_modules/code/fgspectra/
external_modules/code/fg*/
external_modules/code/euclidemu2
external_modules/code/euclide*
external_modules/code/ee2
external_modules/code/hyrec2
external_modules/code/hyrec*
external_modules/code/cosmorec*
external_modules/code/MG*
external_modules/code/TMG*
external_modules/code/TMPMG*
external_modules/code/MGCAMB
external_modules/code/TMPSO
external_modules/code/TMP*
external_modules/code/SOSYSLIB
external_modules/code/SO*
external_modules/code/act_dr6_cmbonly
external_modules/code/act_dr*
external_modules/data/act_dr6_mflike
external_modules/code/roman_real
external_modules/code/roman_real*
external_modules/code/roman_fourier
external_modules/code/roman_fourier*
external_modules/code/roman*
external_modules/code/ROMAN*
external_modules/code/mflike*/
external_modules/code/mf*/
external_modules/code/syslibrary/
external_modules/code/sys*
external_modules/code/planck_2020*
external_modules/code/PolyChordLite/
external_modules/code/emulators/*
external_modules/code/emul*/
external_modules/code/emulators/soliket
external_modules/code/emulators/so*
external_modules/code/dark_emu*
external_modules/code/cosmolike2
external_modules/code/nautilus*
external_modules/code/derivkit
external_modules/code/deri*
external_modules/code/tensiometer
/external_modules/code/getdist
/external_modules/code/getdist*

cobaya/cobaya/likelihoods/XXX
cobaya/cobaya/likelihoods/des_y1
cobaya/cobaya/likelihoods/des_*
cobaya/cobaya/likelihoods/desy1xplanck
cobaya/cobaya/likelihoods/desxplanck
cobaya/cobaya/likelihoods/lsst_fourier
cobaya/cobaya/likelihoods/lsst_y1
cobaya/cobaya/likelihoods/lsst_*
cobaya/cobaya/likelihoods/des_y3
cobaya/cobaya/likelihoods/des_4x2ptN
cobaya/cobaya/likelihoods/kids
cobaya/cobaya/likelihoods/kids*
cobaya/cobaya/likelihoods/cocoa_*
cobaya/cobaya/likelihoods/ede*
cobaya/cobaya/likelihoods/mflike*/
cobaya/cobaya/likelihoods/mf*/
cobaya/cobaya/likelihoods/act*/


projects/lsst_y1/
projects/lsst*/
projects/des*/
projects/roman*
projects/roman_fourier/
projects/roman_real/
