*.tar.gz
*.tar
*.tgz
*.zip
armadillo-9.860.2/
armadillo-10.6.2/
armadillo-11.4.4/ 
armadillo-*/
boost_1_72_0/
boost_1_81_0/
binutils-2.34/
binutils-2.37/
binutils-*/
binutils-gdb/
boost_1_*/
cmake-3.17.1/
cmake-3.26.4/
cmake-*/
CMake-hdf5-1.10.10/
CMake-hdf5-1.14.1/
CMake-hdf5-1.*/
carma/
cfitsio-3.47/
cfitsio-4.0.0/
cfitsio-*/
expat241/
expat-2.5.0/
fftw-3.3.8/
fftw-3.3.10/
fftw-*/
expat-2.5.0/
expat-*/
gsl-2.7/
gsl-*/
lapack-3.9.0/
lapack-*/
lapack-build/
OpenBLAS/
OpenBLAS-0.3.23/
OpenBLAS-*/
texinfo-6.7/
texinfo-*/
texinfo-7*/
texinfo-7.0.3/
xz-5.2.5/
xz-*/
CAMB/
class_public/
cobaya/
cosmolike_core/
des_real/
des_y3/
fmt/
LSST_real/
PolyChordLite/
spdlog/
pip_cache/
.DS_Store
euclidemu2-1.2.0/build/
euclidemu2-1.2.0/dist/
euclidemu2-1.2.0/euclidemu2.egg-info/
euclidemu2-*/build/
euclidemu2-*/dist/
euclidemu2-*/euclidemu2.egg-info/
hdf5.xz
cmake.xz
binutils-2.37.tar.xz
binutils-*.tar.xz
binutils.xz
texinfo-7.0.3.tar.xz
texinfo-*.tar.xz
texinfo.xz
OpenBLAS.xz
lapack.xz
cfitsio.xz
fftw.xz
gsl.xz
spdlog.xz
boost.xz
hdf5.xz
armadillo.xz
armadillo-*/
carma_tmp/
carma_*