*.tar.gz
*.tar
*.tgz
armadillo-9.860.2/
boost_1_72_0/
CAMB/
class_public/
cobaya/
cosmolike_core/
des_real/
des_y3/
fmt/
LSST_real/
PolyChordLite/
spdlog/
fftw-3.3.8/
cfitsio-3.47/
lapack-3.9.0/
lapack-build/
xz-5.2.5/
gsl-2.6/
cmake-3.17.1/
carma/
OpenBLAS/
pip_cache/
.DS_Store
binutils-2.34/
texinfo-6.7/
binutils-gdb/